<div class="main-component">
  <div class="container">
    <div class="row register-form">
      <div class="col col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Register Now!
          </div>
          <div class="card-block">
            <form (ngSubmit)="submit()" #registerForm="ngForm">
              <div class="form-group">
                <label>Full name</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="material-icons">person</i></div>
                  <input type="text" [(ngModel)]="name" name="name" #registername="ngModel" class="form-control" placeholder="Masukkan nama lengkap" required>
                </div>
                <p [hidden]="registername.valid || registername.pristine" style="color: #E30203">Nama lengkap wajib diisi</p>
              </div>
              <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="material-icons">email</i></div>
                  <input type="email" [(ngModel)]="email" name="email" #registeremail="ngModel" class="form-control" placeholder="Masukkan email" required>
                </div>
                <p [hidden]="registeremail.valid || registeremail.pristine" style="color: #E30203">E-mail wajib diisi</p>
              </div>
              <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="material-icons">lock</i></div>
                  <input type="password" [(ngModel)]="password" name="password" #registerpass="ngModel" class="form-control" placeholder="Masukkan password" required>
                </div>
                 <p [hidden]="registerpass.valid || registerpass.pristine" style="color: #E30203">Password wajib diisi</p>
              </div>
              <div class="form-group">
                <label>Retype Password</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="material-icons">lock</i></div>
                  <input type="password" [(ngModel)]="repassword" name="repassword" #registerpass2="ngModel" class="form-control" placeholder="Masukkan password lagi" required>
                </div>
                <p [hidden]="registerpass.untouched || (repassword != '' && password == repassword)" style="color: #E30203">Password tidak sama</p>
              </div>
              <button type="submit" class="btn btn-custom" [disabled]="!name || !email || !password || !repassword">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>