<div class="about-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 about-image">
        <img src="assets/img/xttgittoday.png">
        <img src="assets/img/laptop.png">
      </div>
      <div class="col-sm-12 col-md-7 about-content">
        <hr class="about-line" align="left">
        <p>
          IT Today merupakan acara tahunan yang diselenggarakan oleh Himpunan Mahasiswa Ilmu Komputer (Himalkom) IPB dan merupakan rangkaian IT terbesar di IPB sejak tahun 2003. IT Today 2017 mengusung tema "<i>Colorize Indonesia's Future Through Creative IT</i>" yang menggambarkan kemajuan suatu negara juga membutuhkan peran aktif dari masyarakatnya, khususnya di bidang teknologi informasi.
        </p>
        <p>
          IT Today 2017 tergabung dalam rangkaian acara AgriSymphony (AGSN) yang merupakan kolaborasi acara se-IPB yang diadakan rutin setiap tahunnya di awal semester ganjil. Kegiatan AgriSymphony berada langsung di bawah naungan Ditmawa IPB yang nantinya pada saat acara puncak akan dihadiri oleh lebih dari tiga ribu mahasiswa IPB serta peserta dari luar IPB.
        </p>
        <p>
          IT Today mengadakan tiga rangkaian acara yaitu <b>HackToday</b>, <b>AppsToday</b>, dan <b>Seminar Informasi Teknologi</b>. Rangkaian acara HackToday dan AppsToday diadakan sebagai wadah bagi para pelajar dan mahasiswa untuk mengembangkan dan memanfaatkan kemampuan mereka di bidang teknologi informasi untuk meningkatkan daya saing di tingkat global.
        </p>
        <p>
          Kami berharap IT Today 2017 dapat memberi inspirasi serta menularkan semangat berkarya di bidang teknologi informasi kepada masyarakat.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>GALLERY</h1>
    </div>
  </div>
</div> -->

<!-- <div class="gallery-section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="gallery-button">
            <button class="btn filter-button" data-filter="all">All</button>
            <button class="btn filter-button" data-filter="apps">AppsToday</button>
            <button class="btn filter-button" data-filter="hack">HackToday</button>
            <button class="btn filter-button" data-filter="seminar">Seminar Nasional</button>
        </div>
      </div>
      <div class="row">
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter apps">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter seminar">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hack">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter seminar">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hack">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter apps">
            <img src="assets/img/gallery.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>PAST IT TODAY</h1>
    </div>
  </div>
</div> -->

<!-- <div class="past-section">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div> -->