.intersect-1 {
  height: 100px;
  text-align: center;
  background: #7E0DF1;
  background: -webkit-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: -o-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: -moz-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
}

.intersect-2 {
  height: 100px;
  text-align: center;
  background: #EBDB01;
  background: -webkit-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: -o-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: -moz-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
}

.about-section {
  background: #FFF;
  padding-top: 40px;
}

.about-image img {
  width: 100%;
  margin-top: 60px;
}

.about-line {
  width: 80%;
  background-color: #FE0037;
  border: 2px solid #FE0037;
}

.about-content {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

.title-section {
  padding: 20px 0px;
}

.title-section h1 {
  display: table;
  background: #FE0037;
  margin: 10px auto;
  padding: .5rem 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.gallery-section {
  background: #7E0DF1;
  padding: 40px 0px;
}

.gallery-button {
  text-align: center;
  margin: 20px auto;
}

.gallery_product {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .gallery_product img {
    width: 100%;
  }
}

.filter-button {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;
}

.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white;
}

.port-image {
  width: 100%;
}

.address-section {
  background: #FFF;
  min-height: 500px;
}


@media (max-width: 767px) {
  .about-image img {
    margin-top: 0px;
  }

  .about-line {
    margin-left: 10%;
  }

  .title-section h1 {
    font-size: 24px;
  }
}