<div class="hack-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 push-md-7 hack-image">
        <img src="assets/img/xhacktoday.png">
      </div>
      <div class="col-sm-12 col-md-7 pull-md-5 hack-content">
        <hr class="hack-line" align="right">
        <p>
          <b>HackToday</b> atau lebih dikenal dengan <i>Capture the Flag</i> (CTF) merupakan <i>Hacking Competition</i> yang sering diadakan dalam lomba keamanan teknologi informasi. Pada lomba ini para peserta diberi kebebasan mencari serta bereksplorasi terhadap celah-celah keamanan suatu jaringan untuk mendapatkan <i>flag</i> yang disediakan oleh panitia. Lomba ini bertujuan agar setiap peserta dapat menambah pengetahuan di bidang keamanan informasi. HackToday ditujukan untuk mahasiswa S1/sederajat.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PRIZES</h1>
    </div>
  </div>
</div>

<div class="prize-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="assets/img/trophy.png">
      </div>
      <div class="col-sm-12 col-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>5-26</span><br>Juni</div>
        <div class="time-desc">Pendaftaran</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>5-6</span><br>Agustus</div>
        <div class="time-desc">Pengumuman Proposal</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>12</span><br>Agustus</div>
        <div class="time-desc">Pengumuman Finalis</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>16</span><br>September</div>
        <div class="time-desc">Final hackToday</div>
      </div>
    </div>
  </div>
</div>