<div class="main-component">
  <div class="container">
    <div class="row">
      <div class="sponsor-list col-xs-12">
        <h3 class="title">Sponsored By :</h3>
        <div class="sponsor-img">
          <a href="https://www.domainesia.com" target="_blank">
            <img class="main-img" src="assets/img/sponsor/domainesia.png" title="Domainesia">
          </a>
          <a href="http://www.wardahbeauty.com/" target="_blank">
            <img class="snd-img" src="assets/img/sponsor/wardah.png" title="Wardah">
          </a>
          <a href="http://www.citrus.co.id" target="_blank">
            <img class="snd-img" src="assets/img/sponsor/citrus.png" title="Citrus">
          </a>
          <a href="http://www.botanisquare.com/" target="_blank">
            <img class="fst-img" src="assets/img/sponsor/botas.png" title="Botani Square">
          </a>
          <a href="https://www.instagram.com/clumbee.indo/" target="_blank">
            <img class="snd-img" src="assets/img/sponsor/clumbee.png" title="clumbee">
          </a>
          <a href="http://www.belilepi.com/" target="_blank">
            <img class="snd-img" src="assets/img/sponsor/belilepi.png" title="BeliLepi">
          </a>
        </div>
      </div>
      <div class="medpar-list col-xs-12 col-md-6">
        <h3 class="title">Media Partner :</h3>
        <img src="assets/img/medpart/medpart.png">
      </div>
      <div class="collab-list col-xs-12 col-md-6">
        <table class="ticketing">
          <tr valign="middle">
            <td>Official <br/>Ticketing:</td>
            <td>
              <a href="https://goersapp.com/" target="_blank"><img src="assets/img/ticket/goers.png" title="Goers"></a>
              <a href="https://www.eventbrite.com/" target="_blank"><img src="assets/img/ticket/eventbrite.png" title="Eventbrite"></a>
            </td>
          </tr>
        </table>
        <table class="community">
          <tr valign="middle">
            <td>Community <br/>Partner:</td>
            <td>
              <a href="https://plus.google.com/115236007602721811397" target="_blank">
                <img src="assets/img/ticket/gdgbogor.png" title="Google Developer Groups Bogor">
              </a>
            </td>
          </tr>
        </table>
        <table class="agsn">
          <tr valign="middle">
            <td>In Collaboration <br/>With:</td>
            <td>
              <a href="https://www.instagram.com/agrisymphony/" target="_blank"><img src="assets/img/ticket/agsn.png" title="AgriSymphony IPB"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>