<div class="news-view">
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-block">
            <h2 class="card-title mb-1">{{article.title}}</h2>
            <small class="text-muted">
              Posted on {{article.publish | date:'longDate'}} 
              <span *ngIf="article.publish != article.modified">
                (Updated at {{article.modified | date:'longDate'}})
              </span> by 
              <a href="#">Admin</a>
            </small>
            <hr>
            <p class="card-text justify" [innerHtml]="article.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>