<div class="seminar-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 seminar-image">
        <img src="assets/img/xnationalseminar.png">
      </div>
      <div class="col-sm-12 col-md-7 seminar-content">
        <hr class="seminar-line" align="left">
        <p [innerHtml]="event_desc"></p>
        <b>Daftar melalui:</b> 
        <a href="{{link.eventbrite}}" style="padding:5px"><img src="assets/img/ticket/eventbrite.png" style="height: 30px" title="Eventbrite"></a> | <a href="{{link.goers}}" style="padding:5px"><img src="assets/img/ticket/goers2.png" style="height: 35px; width: 150px" title="Goers"></a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PEMBICARA</h1>
    </div>
  </div>
</div>

<div class="pembicara-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6">
        <img src="assets/img/pembicara.png">
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="time"><span>{{schedule.date}}</span><br>{{schedule.month}}</div>
        <div class="time-desc">Seminar</div>
      </div>
    </div>
  </div>
</div>