<div class="seminar-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 seminar-image">
        <img src="assets/img/xnationalseminar.png">
      </div>
      <div class="col-sm-12 col-md-7 seminar-content">
        <hr class="seminar-line" align="left">
        <p>
          Seminar Informasi Teknologi merupakan kegiatan puncak dari semua rangkaian acara IT Today 2017. Seminar ini akan menghadirkan beragam pembicara yang kompeten di bidang IT dengan target peserta masyarakat umum yang memiliki <i>interest</i> di bidang IT. Seminar ini bertujuan mengembangkan ide dan kreatifitas peserta seminar untuk Indonesia yang lebih baik.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PEMBICARA</h1>
    </div>
  </div>
</div>

<div class="pembicara-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6">
        <img src="assets/img/pembicara.png">
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <div class="time"><span>5-26</span><br>Juni</div>
        <div class="time-desc">Pendaftaran</div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="time"><span>17</span><br>September</div>
        <div class="time-desc">Seminar</div>
      </div>
    </div>
  </div>
</div>