<div class="main-component">
  <div class="container">
    <div class="profile">
      <div class="edit-button">
        <a routerLink="/user/editprofile">
          <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Ubah Profil">
            mode_edit
          </i>
        </a>
      </div>
      <!-- Gambar berubah tergantung jenis kelamin dan tingkatan -->
      <div *ngIf="user.kelamin_user == 'L'">
        <img *ngIf="user.tingkat_user == 'SMA'" src="assets/img/siswa.png">
        <img *ngIf="user.tingkat_user == 'S1'" src="assets/img/mahasiswa.png">
        <img *ngIf="user.tingkat_user == 'Umum'" src="assets/img/pria.png">
      </div>
      <div *ngIf="user.kelamin_user == 'P'">
        <img *ngIf="user.tingkat_user == 'SMA'" src="assets/img/siswi.png">
        <img *ngIf="user.tingkat_user == 'S1'" src="assets/img/mahasiswi.png">
        <img *ngIf="user.tingkat_user == 'Umum'" src="assets/img/wanita.png">
      </div>
      <h1>{{user.nama_user}}</h1>
      <h5>{{user.tingkat_user}} - {{user.institusi_user}}</h5>
      <h5>{{user.alamat_user}} - {{user.telepon_user}}</h5>
      <!-- <h5>{{user.email_user}}</h5> -->
    </div>
    <div class="event">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" *ngIf="user.tingkat_user == 'SMA' || user.tingkat_user == 'S1'">
          <a class="nav-link" data-toggle="pill" href="#apps">AppsToday</a>
        </li>
        <li class="nav-item" *ngIf="user.tingkat_user == 'S1'">
          <a class="nav-link" data-toggle="pill" href="#hack">HackToday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#seminar">Seminar</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="apps">
          <h3>“Punya aplikasi keren dan bermanfaat? Tunjukkan aplikasimu disini"</h3><hr>
          <div class="row" *ngIf="registApps.has_regist == false">
            <div class="col-12 col-md-6 create-team">
              <h5>Belum punya tim?</h5> 
              Silahkan buat tim Anda sendiri :
              <form (ngSubmit)="registAppsSubmit(1)" class="join-event" #registAppsForm="ngForm">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registApps.team_name" name="apps_team_name" #appteam="ngModel" class="form-control" placeholder="Nama Tim">
                  <span class="input-group-btn">
                    <button [disabled]="!registApps.team_name" class="btn btn-custom-yellow" type="submit">Buat</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-6 join-team">
              <h5>Sudah punya tim?</h5> 
              Silahkan tulis token tim Anda :
              <form (ngSubmit)="registAppsSubmit(0)" class="join-event">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registApps.token" name="apps_token" class="form-control" placeholder="Token">
                  <span class="input-group-btn">
                    <button class="btn btn-custom-yellow" type="submit">Gabung</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="registApps.has_regist == true">
            <div class="col-12 col-md-6">
              <h5>Team: {{registApps.team_name}}</h5>
              <h5>Token: {{registApps.token}}</h5>
              <h5>Anggota: 
                  <ol>
                    <li>{{registApps.leader}}</li>
                    <li>{{registApps.member1}}</li>
                    <li>{{registApps.member2}}</li>
                  </ol>
              </h5>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="hack">
        <h3>“Merasa jago hacking? Tunjukkan kehebatanmu disini"</h3><hr>
          <div class="row" *ngIf="registHack.has_regist == false">
            <div class="col-12 col-md-6 create-team">
              <h5>Belum punya tim?</h5> 
              Silahkan buat tim Anda sendiri :
              <form (ngSubmit)="registHackSubmit(1)" class="join-event" #registHackForm="ngForm">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registHack.team_name" name="hack_team_name" #hackteam="ngModel" class="form-control" placeholder="Nama Tim">
                  <span class="input-group-btn">
                    <button [disabled]="!registHack.team_name" class="btn btn-custom-yellow" type="submit">Buat</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-6 join-team">
              <h5>Sudah punya tim?</h5> 
              Silahkan tulis token tim Anda :
              <form (ngSubmit)="registHackSubmit(0)" class="join-event">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registHack.token" name="hack_token" class="form-control" placeholder="Token">
                  <span class="input-group-btn">
                    <button class="btn btn-custom-yellow" type="submit">Gabung</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="registHack.has_regist == true">
            <div class="col-12 col-md-6">
              <h5>Team: {{registHack.team_name}}</h5>
              <h5>Token: {{registHack.token}}</h5>
              <h5>Anggota: 
                  <ol>
                    <li>{{registHack.leader}}</li>
                    <li>{{registHack.member1}}</li>
                    <li>{{registHack.member2}}</li>
                  </ol>
              </h5>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="seminar">
          <h3>“Ingin tau berbagai informasi menarik tentang kemajuan teknologi? Ayo ikut"</h3><hr>
          <button class="btn btn-custom-yellow" type="buitton" (click)="registSeminarSubmit()" *ngIf="registSeminar.has_regist == false">Ikut</button>
        </div>
      </div>
    </div>
    <!-- <h1> Hello from Dashboard </h1>
    <h2> <a routerLink="/user/editprofile">Edit your profile info</a> </h2> --> 
  </div>
</div>