<div class="main-component">
  <div class="container">
    <div class="profile">
      <div class="edit-button">
        <a routerLink="/user/editprofile">
          <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Ubah Profil">
            mode_edit
          </i>
        </a>
      </div>
      <!-- Gambar berubah tergantung jenis kelamin dan tingkatan -->
      <div *ngIf="user.kelamin_user == 'L'">
        <img *ngIf="user.tingkat_user == 'SMA/SMK'" src="assets/img/siswa.png">
        <img *ngIf="user.tingkat_user == 'Mahasiswa'" src="assets/img/mahasiswa.png">
        <img *ngIf="user.tingkat_user == 'Umum'" src="assets/img/pria.png">
      </div>
      <div *ngIf="user.kelamin_user == 'P'">
        <img *ngIf="user.tingkat_user == 'SMA/SMK'" src="assets/img/siswi.png">
        <img *ngIf="user.tingkat_user == 'Mahasiswa'" src="assets/img/mahasiswi.png">
        <img *ngIf="user.tingkat_user == 'Umum'" src="assets/img/wanita.png">
      </div>
      <h1>{{user.nama_user}}</h1>
      <h5>{{user.tingkat_user}} - {{user.institusi_user}}</h5>
      <h5>{{user.alamat_user}} - +62{{user.telepon_user}}</h5>
      <!-- <h5>{{user.email_user}}</h5> -->
    </div>
    <div class="event">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#apps">AppsToday</a>
        </li>
        <li class="nav-item" *ngIf="user.tingkat_user == 'Mahasiswa'">
          <a class="nav-link" data-toggle="pill" href="#hack">HackToday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#seminar">Seminar</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="apps">
          <h3 *ngIf="registApps.has_regist == false">
            “Punya aplikasi keren dan bermanfaat? Tunjukkan aplikasimu disini"
          </h3>
          <a href="{{registApps.url_rulebook}}" target="_blank">
            <button class="btn btn-download-1" *ngIf="registApps.has_regist == false">
              Download Rulebook ({{dataService.infoUpdateApps}})
            </button>
          </a>
          <hr *ngIf="registApps.has_regist == false">
          <div class="row" *ngIf="registApps.has_regist == false">
            <div class="col-12 col-md-6 create-team">
              <h5>Belum punya tim?</h5> 
              Silahkan buat tim Anda sendiri :
              <form (ngSubmit)="registAppsSubmit(1)" class="join-event" #registAppsForm="ngForm">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registApps.team_name" name="apps_team_name" #appteam="ngModel" class="form-control" placeholder="Nama Tim">
                  <span class="input-group-btn">
                    <button [disabled]="!registApps.team_name" class="btn btn-custom-yellow" type="submit">Buat</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-6 join-team">
              <h5>Sudah punya tim?</h5> 
              Silahkan tulis token tim Anda :
              <form (ngSubmit)="registAppsSubmit(0)" class="join-event">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registApps.token" name="apps_token" class="form-control" placeholder="Token">
                  <span class="input-group-btn">
                    <button class="btn btn-custom-yellow" type="submit">Gabung</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="event-data" *ngIf="registApps.has_regist == true">
            <h1>Tim {{registApps.team_name}}</h1><hr>
            <h6>
              Token: 
              <br class="hidden-md-up">
              <span id="apps-token">{{registApps.token}}</span>
              <br class="hidden-md-up">
              <button class="btn btn-secondary copy-apps" data-clipboard-target="#apps-token" (click)="showCopied()">
                Copy
              </button>
            </h6>
            <h5>
              Anggota:<br> 
              <span class="badge">{{registApps.leader}} (Ketua)</span>
              <span class="badge" *ngIf="registApps.member1 !== '-'">{{registApps.member1}}</span>
              <span class="badge" *ngIf="registApps.member2 !== '-'">{{registApps.member2}}</span>
            </h5>
            <hr>
            <a href="{{registApps.url_rulebook}}" target="_blank">
              <button class="btn btn-download-2">Download Rulebook ({{dataService.infoUpdateApps}})</button>
            </a>
            <div class="task" *ngIf="registApps.first_submission == true && !registApps.disqualified">
              <form (ngSubmit)="appsFirstSubmission()">
                <div class="form-group">
                  <label><h4>Nama Aplikasi</h4></label>
                  <small class="form-text text-muted">Tuliskan nama aplikasi yang tim Anda buat</small>
                  <input type="text" [(ngModel)]="registApps.app_name" name="app_name" class="form-control" placeholder="Nama Aplikasi">
                </div>
                <div class="form-group">
                  <label><h4>Proposal Aplikasi</h4></label>
                  <input type="file" (change)="appsProposalChange($event)" name="proposal" accept="application/pdf" class="form-control-file" placeholder="Upload proposal...">
                  <small class="form-text text-muted">Lampirkan proposal aplikasi tim Anda dalam format pdf (maks: 5 MB)</small>
                  <div class="progress" *ngIf="proposalSubmit && !registApps.proposal">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress/100)*100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{uploadProgress}} %</div>
                  </div>
                  <div *ngIf="registApps.proposal">
                    Proposal: <a href="{{registApps.proposal}}"><img src="assets/img/pdf.png" style="width:50px; height:50px"></a>
                  </div>
                </div>
                <button [disabled]="!proposalValid || !registApps.app_name" type="submit" class="btn btn-custom-task">Save</button>
              </form>
            </div>
            <div class="task" *ngIf="registApps.second_submission == true && registApps.semifinalist == true && !registApps.disqualified">
              <h5>"Selamat, proposal Anda dinyatakan lolos ke tahap berikutnya!"</h5>
              <form (submit)="updateAppsSubmission()">
                <div class="form-group">
                  <label><h4>Video Aplikasi</h4></label>
                  <small class="form-text text-muted">Tuliskan link video yang menggambarkan aplikasi tim Anda</small>
                  <input type="text" [(ngModel)]="registApps.video" name="video_app" class="form-control" placeholder="Link Video">
                </div>
                <button type="submit" class="btn btn-custom-task">Save</button>
              </form>
            </div>
            <div class="task" *ngIf="registApps.second_submission && registApps.semifinalist == false && !registApps.disqualified">
              <h5>"Mohon maaf, Anda belum dapat melanjutkan ke babak berikutnya."</h5>
            </div>
            <div class="task" *ngIf="!registApps.second_submission && registApps.finalist == true && !registApps.disqualified">
              <h5>"Selamat, tim Anda dinyatakan lolos ke babak Final!"</h5>
            </div>
            <div class="task" *ngIf="!registApps.second_submission && registApps.finalist == false && !registApps.disqualified">
              <h5>"Mohon maaf, Anda belum dapat melanjutkan ke babak berikutnya."</h5>
            </div>
            <div class="task" *ngIf="registApps.disqualified">
              <h5>"Tim Anda telah didiskualifikasi!"</h5>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="hack">
          <h3 *ngIf="registHack.has_regist == false">
            “Merasa jago hacking? Tunjukkan kehebatanmu disini"
          </h3>
          <a href="{{registHack.url_rulebook}}" target="_blank">
            <button class="btn btn-download-1" *ngIf="registHack.has_regist == false">
              Download Rulebook ({{dataService.infoUpdateHack}})
            </button>
          </a>
          <hr *ngIf="registHack.has_regist == false">
          <div class="row" *ngIf="registHack.has_regist == false">
            <div class="col-12 col-md-6 create-team">
              <h5>Belum punya tim?</h5> 
              Silahkan buat tim Anda sendiri :
              <form (ngSubmit)="registHackSubmit(1)" class="join-event" #registHackForm="ngForm">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registHack.team_name" name="hack_team_name" #hackteam="ngModel" class="form-control" placeholder="Nama Tim">
                  <span class="input-group-btn">
                    <button [disabled]="!registHack.team_name" class="btn btn-custom-yellow" type="submit">Buat</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-12 col-md-6 join-team">
              <h5>Sudah punya tim?</h5> 
              Silahkan tulis token tim Anda :
              <form (ngSubmit)="registHackSubmit(0)" class="join-event">
                <div class="input-group">
                  <input type="text" [(ngModel)]="registHack.token" name="hack_token" class="form-control" placeholder="Token">
                  <span class="input-group-btn">
                    <button class="btn btn-custom-yellow" type="submit">Gabung</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="event-data" *ngIf="registHack.has_regist == true">
            <h1>Tim {{registHack.team_name}}</h1><hr>
            <h6>
              Token: 
              <br class="hidden-md-up">
              <span id="hack-token">{{registHack.token}}</span>
              <br class="hidden-md-up">
              <button class="btn btn-secondary copy-hack" data-clipboard-target="#hack-token" (click)="showCopied()">
                Copy
              </button>
            </h6>
            <h5>
              Anggota:<br> 
              <span class="badge">{{registHack.leader}} (Ketua)</span>
              <span class="badge" *ngIf="registHack.member1 !== '-'">{{registHack.member1}}</span>
              <span class="badge" *ngIf="registHack.member2 !== '-'">{{registHack.member2}}</span>
            </h5>
            <hr>
            <a href="{{registHack.url_rulebook}}" target="_blank">
              <button class="btn btn-download-2">Download Rulebook ({{dataService.infoUpdateHack}})</button>
            </a>
            <div class="task" *ngIf="registHack.writeup_submission == true && !registHack.disqualified">
              <form (submit)="writeupSubmission()">
                <div class="form-group-file">
                  <label><h4>Write-Up</h4></label>
                  <input type="file" (change)="hackWriteUpChange($event)" class="form-control-file" placeholder="Upload Write-Up...">
                  <small class="form-text text-muted">Lampirkan Write-Up tim Anda dalam format pdf (maks 5 MB)</small>
                  <div class="progress" *ngIf="writeupSubmit && !registHack.writeup">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress/100)*100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{uploadProgress}} %</div>
                  </div>
                  <div *ngIf="registHack.writeup">
                    WriteUp: <a href="{{registHack.writeup}}"><img src="assets/img/pdf.png" style="width:50px; height:50px"></a>
                  </div>
                </div>
                <button [disabled]="!writeupValid" type="submit" class="btn btn-custom-task">Save</button>
              </form>
            </div>
            <div class="task" *ngIf="!registHack.writeup_submission && registHack.finalist == true && !registHack.disqualified">
              <h5>"Selamat, tim Anda dinyatakan lolos ke babak Final!"</h5>
            </div>
            <div class="task" *ngIf="!registHack.writeup_submission && registHack.finalist == false && !registHack.disqualified">
              <h5>"Mohon maaf, Anda belum dapat melanjutkan ke babak berikutnya."</h5>
            </div>
            <div class="task" *ngIf="registHack.disqualified">
              <h5>"Tim Anda telah didiskualifikasi!"</h5>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="seminar">
          <h3 *ngIf="registSeminar.has_regist == false">
            “Ingin tau berbagai informasi menarik tentang kemajuan teknologi? Ayo ikut"
          </h3>
          <hr *ngIf="registSeminar.has_regist == false">  
          <h6 *ngIf="registSeminar.has_regist == false"><i>Pendaftaran seminar belum dibuka</i></h6>
          <!-- <button class="btn btn-custom-yellow" type="button" (click)="registSeminarSubmit()" *ngIf="registSeminar.has_regist == false">Ikut</button> -->
          <div *ngIf="registSeminar.has_regist == true">
            <h5>Anda sudah terdaftar,</h5>
            <h6>Silahkan konfirmasi kehadiran Anda</h6><hr>
            <h6><i>Formulir konfirmasi kehadiran akan dibuka H-7 seminar</i></h6>
            <!-- 
              <h6 *ngIf="registSeminar.attend_confirm != null"><i>Anda <span *ngIf="registSeminar.attend_confirm == false">TIDAK</span> DAPAT menghadiri seminar</i></h6>
              <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-on active" (click)="confirmAttendSeminar(true)">
              <input type="radio" name="attendance" checked="checked">Saya bisa hadir</label>
              <label class="btn btn-default btn-off" (click)="confirmAttendSeminar(false)">
              <input type="radio" name="attendance">Saya berhalangan <br class="hidden-md-up">hadir</label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>