<div class="apps-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 apps-image">
        <img src="assets/img/xappstoday.png">
      </div>
      <div class="col-sm-12 col-md-7 apps-content">
        <hr class="apps-line" align="left">
        <p>
          <b>AppsToday</b> merupakan <i>creativity and innovation competition</i> dalam pembuatan aplikasi <i>mobile</i> berbasis Android, iOS, Windows, atau <i>platform</i> lainnya. Lomba ini bertujuan untuk mengeksplorasi kreatifitas dan inovasi developer Indonesia untuk memberikan solusi terhadap permasalahan-permasalahan yang ada di masyarakat. AppsToday ditujukan untuk seluruh Mahasiswa dan pelajar SMA/sederajat.
        </p>
        <a href="{{url_rulebook}}" target="_blank">
          <button class="btn btn-download">Download Rulebook</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PRIZES</h1>
    </div>
  </div>
</div>

<div class="prize-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6">
        <img src="assets/img/trophy.png">
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>5-26</span><br>Juni</div>
        <div class="time-desc">Pendaftaran dan Pengumpulan Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>11</span><br>Juli</div>
        <div class="time-desc">Pengumuman Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>11-18</span><br>Juli</div>
        <div class="time-desc">Pengumpulan Video</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>27</span><br>Juli</div>
        <div class="time-desc">Pengumuman Finalis</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>16-17</span><br>September</div>
        <div class="time-desc">Final AppsToday</div>
      </div>
    </div>
  </div>
</div>