<div class="apps-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 apps-image">
        <img src="assets/img/xappstoday.png">
      </div>
      <div class="col-sm-12 col-md-7 apps-content">
        <hr class="apps-line" align="left">
        <p [innerHtml]="event_desc"></p>
        <a href="{{url_rulebook}}" target="_blank">
          <button class="btn btn-download">Download Rulebook ({{rulebook_update}})</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PRIZES</h1>
    </div>
  </div>
</div>

<div class="prize-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6">
        <img src="assets/img/trophy.png">
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center" *ngIf="checker">
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.registrasi.date}}</span><br>{{schedule.registrasi.month}}</div>
        <div class="time-desc">Pendaftaran dan Pengumpulan Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.pengumuman1.date}}</span><br>{{schedule.pengumuman1.month}}</div>
        <div class="time-desc">Pengumuman Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.video.date}}</span><br>{{schedule.video.month}}</div>
        <div class="time-desc">Pengumpulan Video</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.pengumuman2.date}}</span><br>{{schedule.pengumuman2.month}}</div>
        <div class="time-desc">Pengumuman Finalis</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.final.date}}</span><br>{{schedule.final.month}}</div>
        <div class="time-desc">Final AppsToday</div>
      </div>
    </div>
  </div>
</div>