<div class="apps-section"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 apps-image">
        <img src="assets/img/xappstoday.png">
      </div>
      <div class="col-sm-12 col-md-7 apps-content">
        <hr class="apps-line" align="left">
        <p [innerHtml]="event_desc"></p>
        <a href="{{url_rulebook}}" target="_blank">
          <button class="btn btn-download">
            Download Rulebook <br class="hidden-md-up">({{rulebook_update}})
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>PRIZES</h1>
    </div>
  </div>
</div>

<!-- <div class="prize-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6">
        <img src="assets/img/trophy.png">
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6">
        <h1>To be announced</h1>
      </div>
    </div>
  </div>
</div> -->

<div class="prize-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="win-1 col-sm-12 col-md-5 push-md-4">
        <img src="assets/img/trophy.png">
        <h5>Juara 1</h5>
        <h1>Rp. 9.000.000,-</h1>
      </div>
      <div class="win-2 col-sm-12 col-md-4 pull-md-5">
        <img src="assets/img/trophy2.png">
        <h5>Juara 2</h5>
        <h2>Rp. 6.000.000,-</h2>
      </div>
      <div class="win-3 col-sm-12 col-md-3">
        <img src="assets/img/trophy3.png">
        <h5>Juara 3</h5>
        <h3>Rp. 3.000.000,-</h3>
      </div>
      <div class="win-4 col-sm-12 col-md-4 offset-md-2">
        <img src="assets/img/award.png">
        <h5>Best Highschool Team</h5>
        <h3>Rp. 1.000.000,-</h3>
      </div>
      <div class="win-5 col-sm-12 col-md-4 offset-md-1">
        <img src="assets/img/award.png">
        <h5>Most Favorite Team</h5>
        <h3>Rp. 1.000.000,-</h3>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center" *ngIf="checker">
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.registrasi.date}}</span><br>{{schedule.registrasi.month}}</div>
        <div class="time-desc">Pendaftaran dan Pengumpulan Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.pengumuman1.date}}</span><br>{{schedule.pengumuman1.month}}</div>
        <div class="time-desc">Pengumuman Proposal</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.video.date}}</span><br>{{schedule.video.month}}</div>
        <div class="time-desc">Pengumpulan Video</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.pengumuman2.date}}</span><br>{{schedule.pengumuman2.month}}</div>
        <div class="time-desc">Pengumuman Finalis</div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="time"><span>{{schedule.final.date}}</span><br>{{schedule.final.month}}</div>
        <div class="time-desc">Final AppsToday</div>
      </div>
    </div>
  </div>
</div>