<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/it-white.png" height="40">
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <div class="navbar-text hidden-sm-down"> | </div>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <div class="navbar-text hidden-sm-down"> | </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a class="dropdown-item" href="#">AppsToday</a>
            <a class="dropdown-item" href="#">HackToday</a>
            <a class="dropdown-item" href="#">Seminar</a>
          </div>
        </li>
      </ul>
      <div class="navbar-nav" *ngIf="!loggedin">
        <a class="nav-item nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
        <div class="navbar-text hidden-sm-down"> / </div>
        <a class="nav-item nav-link" href="#">Register</a>
      </div>
      <div class="navbar-nav" *ngIf="loggedin">
        <a class="nav-item nav-link" routerLink="/">Dashboard</a>
        <div class="navbar-text hidden-sm-down"> / </div>
        <a class="nav-item nav-link" routerLink="/" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="footer-content py-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3 class="footer-sub">Sub Menu</h3>
          <p class="footer-text">Lorem Ipsum</p>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="footer-sub">Sub Menu</h3>
          <p class="footer-text">Lorem Ipsum</p>
        </div>
        <div class="col-12 col-md-4">
          <h3 class="footer-sub">Sub Menu</h3>
          <p class="footer-text">Lorem Ipsum</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>© IT Today 2017</span>
  </div>
</footer>