<nav [class.fixed-top]="navIsFixed" class="navbar navbar-toggleable-md navbar-light">
  <button #navbarToggler class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <div class="logo">
        <img src="assets/img/it-white.png" height="40">
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <div class="navbar-text hidden-md-down"> | </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a (click)="collapseNav()" class="dropdown-item" routerLink="/event/appstoday" routerLinkActive="active">AppsToday</a>
            <a (click)="collapseNav()" class="dropdown-item" routerLink="/event/hacktoday" routerLinkActive="active">HackToday</a>
            <a (click)="collapseNav()" class="dropdown-item" routerLink="/event/seminar" routerLinkActive="active">Seminar</a>
          </div>
        </li>
        <div class="navbar-text hidden-md-down"> | </div>
         <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/news" routerLinkActive="active">Articles</a>
        </li>
        <!-- <div class="navbar-text hidden-md-down"> | </div>
        <li class="nav-item">
          <a (click)="collapseNav()" class="nav-link" routerLink="/sponsorship" routerLinkActive="active">Sponsorship</a>
        </li> -->
      </ul>
      <div class="navbar-nav" *ngIf="!loggedin">
        <a (click)="collapseNav()" class="nav-item nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
        <div class="navbar-text hidden-md-down"> / </div>
        <a (click)="collapseNav()" class="nav-item nav-link" routerLink="/auth/register" routerLinkActive="active">Register</a>
      </div>
      <div class="navbar-nav" *ngIf="loggedin">
        <a (click)="collapseNav()" class="nav-item nav-link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
        <div class="navbar-text hidden-md-down"> / </div>
        <a (click)="collapseNav()" class="nav-item nav-link" routerLink="/" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

  <router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <div class="row">
      <div class="col-sm-12 col-md-6 push-md-6 contact-list">
        <div class="contact-footer">
          <h3>CONTACT US</h3>
          <div class="contact-button">
            <a href="https://web.facebook.com/ipbittoday/">
              <img src="assets/img/fb_icon.png" height="40">
            </a>
            <a href="https://line.me/ti/p/~@ittoday_ipb">
              <img src="assets/img/line_icon.png" height="40">
            </a>
            <a href="https://www.instagram.com/ittoday_ipb/">
              <img src="assets/img/insta_icon.png" height="40">
            </a>
            <a href="https://twitter.com/ittoday_ipb">
              <img src="assets/img/twit_icon.png" height="40">
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 pull-md-6 article-list">
        <div class="article-footer">
          <!-- <h3>Sponsor</h3> -->
          <a href="https://domainesia.com" target="_blank"><img src="https://static.domainesia.com/assets/images/mediakit/badge-monowhite-450.png" style="max-width: 75%"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>&copy; IT Today, 2017. Server served on <a href="https://domainesia.com" style="color:#fff" target="_blank">Domainesia</a></span>
  </div>
</footer>