a {
  color: #FE0037;
}

.btn-custom {
  background-color: #EBDB01;
  border-radius: 25px;
}

.navbar {
  background-color: #FE0037;
  -moz-box-shadow:0 3px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 3px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 3px 5px rgba(182, 182, 182, 0.75);
  min-height: 60px;
}

@media (max-width: 767px) {
  .navbar .container {
    text-align: center;
  }

  .show .dropdown-menu {
    text-align: center;
  }
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 2px solid #EBDB01;
  color: #EBDB01;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #EBDB01;
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    border: 2px solid #FE0037;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #EBDB01;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 219, 1, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  margin-top: 3px;
  border-color: #EBDB01;
}

.navbar-text {
  margin-top: 3px;
  font-size: 16px;
}

/*============================================*/

.footer {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.footer-content {
  background-color: #7E0DF1;
  padding: 20px;
}

.sponsor-img {
  text-align: center;
}

.sponsor-list .f-img {
  width: 100%;
  margin: 5px auto;
}

.sponsor-list .s-img {
  width: 70%;
  margin: 5px auto;
}

.sponsor-list .t-img {
  width: 40%;
  margin: 5px auto;
}

.medpar-list img {
  width: 100%;
}

.collab-list td {
  padding: 5px 10px;
}

.collab-list .ticketing img {
  height: 30px;
}

.collab-list .community img {
  height: 40px;
}

.collab-list .agsn img {
  height: 50px;
}

.contact-button img {
  margin-right: 10px;
}

.contact-button {
  padding-top : 10px;
  padding-bottom: 10px;
}

.copyright {
  background-color: #FE0037;
  text-align: center;
  color: #fff;
}


@media (min-width: 768px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
  }

  .collab-list {
    /*background: url("../assets/img/logo-violet.png") no-repeat bottom right;*/
    /*background-size: 100%;*/
    padding-top:50px;
  }

  .footer-content .row{
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .footer-content {
    padding: 20px 0px;
  }

  .sponsor-list, .medpar-list {
    margin-bottom: 40px;
  }
}