<div class="main-component">
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-12">
        <h1 class="my-4">Page Heading <small>Secondary Text</small></h1>

        <!-- Blog Post -->
        <div *ngFor="let article of articles" class="card mb-4" infiniteScroll
            [infiniteScrollDistance]="5"
            [infiniteScrollThrottle]="500"
            (scrolled)="scrolled()">
            <!-- <img class="card-img-top img-fluid" src="http://placehold.it/750x300" alt="Card image cap"> -->
            <div class="card-block">
                <h2 class="card-title">{{article.getJudul}}</h2>
                <p class="card-text" [innerHtml]="article.getIsi | truncate:50"></p>
                <a [routerLink]="['/news', article.id]" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{article.createdAt | date:'longDate'}} <span *ngIf="article.createdAt != article.updatedAt">(Updated)</span> by <a href="#">Admin</a>
            </div>
        </div>
      </div>
  </div>
</div>