.card {
  margin: 40px auto;
  border: 1px solid #EBDB01;
}

.card-header {
  background-color: #EBDB01;
  font-weight: bold;
}

.btn-custom-back {
  margin-top: 40px;
}

.btn-custom-form {
  background-color: #E20302;
  color: #fff;
  float: right;
  margin-top: 40px;
}

select.form-control {
  padding: .75rem .75rem;
}

.main-component {
  background-color: #ECEEEF;
}

@media (min-width: 768px) {
  .card {
    margin: 60px auto;
  }

  .main-component {
    min-height: 500px;
  }
}