.editprofile-form {
  margin-top: 40px;
}

.card {
  margin: 0px 0px 40px;
}

.btn-custom-form {
  background-color: #E20302;
  color: #fff;
  float: right;
}

select.form-control {
  padding: .75rem .75rem;
}