<div class="welcome-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-8">
        <div class="welcome-content">
          <img src="assets/img/it-black.png">
        </div>
      </div>
      <div class="theme-text">
        <h1>"Colorize Indonesia's Future Through Creative IT"</h1>
        <a routerLink="/about"><h4>Learn more...</h4></a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>ADA APA AJA DI <br class="hidden-md-up"> IT TODAY ?</h1>
    </div>
  </div>
</div>

<div class="event-section">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="event-apps">
        <div class="col-sm-12 col-md-9 offset-md-3 event-desc">
          <img class="hidden-md-up" src="assets/img/sappstoday.png">
          <p>
            <b>AppsToday</b> merupakan <i>creativity and innovation competition</i> dalam pembuatan aplikasi <i>mobile</i> berbasis Android, iOS, atau Windows. Lomba ini bertujuan untuk mengeksplorasi kreatifitas dan inovasi developer Indonesia untuk memberikan solusi terhadap permasalahan-permasalahan yang ada di masyarakat. AppsToday ditujukan untuk seluruh Mahasiswa dan pelajar SMA/sederajat.
          </p>
        </div>
      </div>
      <div class="event-hack">
        <div class="col-sm-12 col-md-8 event-desc">
          <img class="hidden-md-up" src="assets/img/shacktoday.png">
          <p>
            <b>HackToday</b> atau lebih dikenal dengan <i>Capture the Flag</i> (CTF) merupakan <i>Hacking Competition</i> yang sering diadakan dalam lomba keamanan teknologi informasi. Pada lomba ini para peserta diberi kebebasan mencari serta bereksplorasi terhadap celah-celah keamanan suatu jaringan untuk mendapatkan <i>flag</i> yang disediakan oleh panitia. Lomba ini bertujuan agar setiap peserta dapat menambah pengetahuan di bidang keamanan informasi. HackToday ditujukan untuk mahasiswa S1/sederajat.
          </p>
        </div>
      </div>
      <div class="event-seminar">
        <div class="col-sm-12 col-md-9 offset-md-3 event-desc">
          <img class="hidden-md-up" src="assets/img/snationalseminar.png">
          <p>
            Seminar Informasi Teknologi merupakan kegiatan puncak dari semua rangkaian acara IT Today 2017. Seminar ini akan menghadirkan beragam pembicara yang kompeten di bidang IT dengan target peserta masyarakat umum yang memiliki <i>interest</i> di bidang IT. Seminar ini bertujuan mengembangkan ide dan kreatifitas peserta seminar untuk Indonesia yang lebih baik.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>5</span><br>Juni</div>
        <div class="time-desc">Grand Launching</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>5-26</span><br>Juni</div>
        <div class="time-desc">Pendaftaran Lomba</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>16</span><br>September</div>
        <div class="time-desc">Final Acara</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>17</span><br>September</div>
        <div class="time-desc">Seminar dan Pengumuman Pemenang</div>
      </div>
    </div>
  </div>
</div>

