.intersect-1 {
  height: 100px;
  text-align: center;
  background: #7E0DF1;
  background: -webkit-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: -o-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: -moz-linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
  background: linear-gradient(3deg, #7E0DF1 50%, #EBDB01 50%);
}

.intersect-2 {
  height: 100px;
  text-align: center;
  background: #EBDB01;
  background: -webkit-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: -o-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: -moz-linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
  background: linear-gradient(3deg, #EBDB01 50%, #7E0DF1 50%);
}

.welcome-section {
  background: #EBDB01;
}

.theme-text {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.theme-text a {
  font-style: normal;
  text-align: right;
}

.theme-text a:hover {
  text-decoration: none;
  color: #7E0DF1;
}

.welcome-content {
  padding-top: 60px;
}

.welcome-content img {
  width: 100%;
}

.title-section {
  padding: 20px 0px;
}

.title-section h1 {
  display: table;
  color: #FFFFFF;
  background: #FE0037;
  margin: auto;
  padding: .5rem 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.event-section {
  background: #7E0DF1;
}

.event-apps {
  background: url("../../assets/img/sappstoday.png") no-repeat left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.event-hack {
  background: url("../../assets/img/shacktoday.png") no-repeat right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-seminar {
  background: url("../../assets/img/snationalseminar.png") no-repeat left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.event-desc {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
}

.event-desc img {
  margin-bottom: 20px;
  width: 100%;
}

.timeline-section {
  background: #EBDB01;
  padding-top: 20px;
  padding-bottom: 40px;
}

.time {
  width: 128px;
  height: 128px;
  background-color: #7E0DF1;
  border-radius: 100%;
  padding: 20px 14px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 3px 3px #FE0037;
  margin: 40px auto 20px;
}

.time span {
  font-size: 30px;
}

.time-desc {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}


@media (max-width: 767px) {
  .welcome-content {
    padding: 20px;
  }

  .title-section h1 {
    font-size: 24px;
  }

  .event-apps, .event-hack, .event-seminar {
    margin: 20px auto;
    background: transparent;
  }

  .event-desc {
    margin-bottom: 20px;
  }

  .time {
    margin: 10px auto;
  }
}
