<div class="welcome-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-10">
        <div class="welcome-content">
          <img src="assets/img/it-black.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>ADA APA AJA DI <br class="hidden-md-up"> IT TODAY ?</h1>
    </div>
  </div>
</div>

<div class="event-section">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-3 event-title">
        <h1 class="thick">Apps</h1>
        <h1 class="thin">Today</h1>
      </div>
      <div class="col-sm-12 col-md-9 event-desc">
        <p>
          <b>AppsToday</b> merupakan <i>creativity and innovation competition</i> dalam pembuatan aplikasi <i>mobile</i> berbasis Android, iOS, atau Windows. Lomba ini bertujuan untuk mengeksplorasi kreatifitas dan inovasi developer Indonesia untuk memberikan solusi terhadap permasalahan-permasalahan yang ada di masyarakat. AppsToday ditujukan untuk seluruh Mahasiswa dan pelajar SMA/sederajat.
        </p>
      </div>
      <div class="col-md-9 event-desc hidden-sm-down">
        <p>
          <b>HackToday</b> atau lebih dikenal dengan <i>Capture the Flag</i> (CTF) merupakan <i>Hacking Competition</i> yang sering diadakan dalam lomba keamanan teknologi informasi. Pada lomba ini para peserta diberi kebebasan mencari serta bereksplorasi terhadap celah-celah keamanan suatu jaringan untuk mendapatkan <i>flag</i> yang disediakan oleh panitia. Lomba ini bertujuan agar setiap peserta dapat menambah pengetahuan di bidang keamanan informasi. HackToday ditujukan untuk mahasiswa S1/sederajat.
        </p>
      </div>
      <div class="col-sm-12 col-md-3 event-title">
        <h1 class="thick">Hack</h1>
        <h1 class="thin">Today</h1>
      </div>
      <div class="col-sm-12 event-desc hidden-md-up">
        <p>
          <b>HackToday</b> atau lebih dikenal dengan <i>Capture the Flag</i> (CTF) merupakan <i>Hacking Competition</i> yang sering diadakan dalam lomba keamanan teknologi informasi. Pada lomba ini para peserta diberi kebebasan mencari serta bereksplorasi terhadap celah-celah keamanan suatu jaringan untuk mendapatkan <i>flag</i> yang disediakan oleh panitia. Lomba ini bertujuan agar setiap peserta dapat menambah pengetahuan di bidang keamanan informasi. HackToday ditujukan untuk mahasiswa S1/sederajat.
        </p>
      </div>
      <div class="col-sm-12 col-md-3 event-title">
        <h1 class="thick">National</h1>
        <h1 class="thin">Seminar</h1>
      </div>
      <div class="col-sm-12 col-md-9 event-desc">
        <p>
          Seminar Informasi Teknologi merupakan kegiatan puncak dari semua rangkaian acara IT Today 2017. Seminar ini akan menghadirkan beragam pembicara yang kompeten di bidang IT dengan target peserta masyarakat umum yang memiliki <i>interest</i> di bidang IT. Semminar ini bertujuan mengembangkan ide dan kreatifitas peserta seminar untuk Indonesia yang lebih baik.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/1" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step One</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Two</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Three</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/4" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Three</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Bonus Step</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

