<div class="welcome-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-8">
        <div class="welcome-content">
          <img src="assets/img/it-red.png">
        </div>
      </div>
      <div class="theme-text">
        <h1>"Colorize Indonesia's Future Through Creative IT"</h1>
        <a routerLink="/about"><h4>Learn more...</h4></a>
      </div>
    </div>
  </div>
</div>

<div class="intersect-1">
  <div class="container">
    <div class="title-section">
      <h1>ADA APA AJA DI <br class="hidden-md-up"> IT TODAY ?</h1>
    </div>
  </div>
</div>

<div class="event-section">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="event-apps">
        <div class="col-sm-12 col-md-9 offset-md-3 event-desc">
          <img class="hidden-md-up" src="assets/img/sappstoday.png">
          <p *ngIf="checker" [innerHtml]="event_desc.appstoday">
          </p>
          <a routerLink="/event/appstoday">
            <button class="btn btn-more">selengkapnya >></button>
          </a>
        </div>
      </div>
      <div class="event-hack">
        <div class="col-sm-12 col-md-8 event-desc">
          <img class="hidden-md-up" src="assets/img/shacktoday.png">
          <p *ngIf="checker" [innerHtml]="event_desc.hacktoday">
          </p>
          <a routerLink="/event/hacktoday">
            <button class="btn btn-more">selengkapnya >></button>
          </a>
        </div>
      </div>
      <div class="event-seminar">
        <div class="col-sm-12 col-md-9 offset-md-3 event-desc">
          <img class="hidden-md-up" src="assets/img/snationalseminar.png">
          <p *ngIf="checker" [innerHtml]="event_desc.seminar">
          </p>
          <a routerLink="/event/seminar">
            <button class="btn btn-more">selengkapnya >></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intersect-2">
  <div class="container">
    <div class="title-section">
      <h1>TIMELINE</h1>
    </div>
  </div>
</div>

<div class="timeline-section">
  <div class="container">
    <div class="row justify-content-md-center" *ngIf="checker">
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>5</span><br>Juni</div>
        <div class="time-desc">Grand Launching</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>{{schedule.registrasi.date}}</span><br>{{schedule.registrasi.month}}</div>
        <div class="time-desc">Pendaftaran Lomba</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>{{schedule.final.date}}</span><br>{{schedule.final.month}}</div>
        <div class="time-desc">Final Lomba</div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="time"><span>{{schedule.seminar.date}}</span><br>{{schedule.seminar.month}}</div>
        <div class="time-desc">Seminar dan Pengumuman Pemenang</div>
      </div>
    </div>
  </div>
</div>

